*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
address{font-style: inherit;}
ul,ol{list-style: inherit;}
a{color: inherit;text-decoration: inherit;}

html{
    font-size:20px;
    font-family: 'Pretendard',"Noto Sans KR",sans-serif;
    font-weight: 400;
}
.main{
    width: 1200px;
    margin: auto;
    box-sizing: border-box;
}
.img{
    width: 100%;
    height: 250px;
    background: url(../img/sub_vis01_02.jpg) no-repeat 50% 50% / cover;
}
.sub-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 50px auto 100px;
}
.sub{
    font-size: 1.5rem;
    font-weight: 600;
}
.sub-line{
    display: block;
    width: 100%;
    max-width: 1000px;
    height: 1px;
}
.title{
    font-family: 'pulmuone';
    margin-bottom: 50px;
    padding: 0 70px;
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
    line-height: 140%;
}
.title span{
    color: rgb(126, 174, 75);
}
.content{
    background-color: rgb(244, 244, 244);
    width: 810px;
    margin: 0 auto;
    padding: 40px 90px 50px;
    box-sizing: border-box;
}
.p1,.p2,.p3{
    display: block;
    text-align: center;
}
.p2,.p3{
    line-height: 150%;
}
.p1{
    font-family: 'pulmuone';
    font-size: 1.75rem;
    margin-bottom: 25px;
}
.p2{
    margin-bottom: 30px;
}
