/* 기본 스타일 초기화 -> 내가 의도하지 않았는데 적용되어있는 스타일을 제거 */
* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
address {
    font-style: inherit;
}
ul, ol {
    list-style: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}

/* 공통 스타일 -> 공통적으로 적용되는 스타일을 설정 */
html {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;

    font-size: 20px;
    font-weight: 400;

    color: #333;
}
em {
    font-style: normal;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* 스타일 */
.banner-top {
    background: url(../img/sub_vis01_02.jpg) no-repeat 50% 50% / cover;

    height: 250px;
}
main h1 {
    font-size: 1.5rem;
    font-weight: 500;

    background: url(../img/sub_tit_line.gif) repeat-x 0 50%;

    margin: 50px 0 100px;
}
main h1 span {
    background-color: #fff;

    padding-right: 20px;
}
main h2, h3 {
    font-family: '풀무원', sans-serif;
    font-weight: bold;
}
main h2 {
    font-size: 2.6rem;
    line-height: 1.38;

    margin-bottom: 50px;
    padding: 0 70px;

    text-align: center;
}
.h2-color-sub {
    color: #7eae4b;
}
.intro-txt {
    box-sizing: border-box;

    width: 810px;

    margin: 0 auto;
    padding: 40px 90px 50px;

    text-align: center;

    background-color: #f4f4f4;
}
.intro-txt h3 {
    margin-bottom: 25px;

    font-size: 1.75rem;
}
.intro-txt p {
    font-weight: 500;
    line-height: 1.6;
    word-break: keep-all;
}
.intro-txt h3 + p {
    margin-bottom: 30px;
}