/* 기본 스타일 초기화 */
*{margin: 0;padding: 0;}

h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
address{font-style: inherit;}
ul,ol{list-style: inherit;}
a{color: inherit; text-decoration: inherit;}
/* 부모값으로 상속받음 ->inherit */

/* 공통 스타일 -> 공통적으로 적용되는 스타일을 설정 */
html{
    font-size: 20px;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}
.title{
    font-family: '풀무원';
}
main{
    width: 1200px;
    margin: 0 auto;
}

/* 스타일 */
.banner{
    border: 0px solid #000;
    height: 250px;
    background: url(../image/main.jpg)
    no-repeat 50% 50% / cover;
    margin-bottom: 50px;
}
/* cover-> 빈공간없이 꽉채움 */

main h1{
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: 500;
    background: url(../image/sub_tit_line.gif) repeat-x 0 50%;
}
main h1 span{
    background-color: #fff;
    padding-right: 20px;
}

main h2{
    font-size: 52px;
    text-align: center;
    line-height: 140%;
}

main h2 em{
    font-style: normal;
    color: rgb(126, 174, 75);
}

.brand{
    width: 810px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 90px 50px;
    text-align: center;
}

.brand h3{
    font-size: 35px;
    margin-bottom: 25px;
}

.brand h3+p{
    margin-bottom: 30px;
}

.brand p{
    line-height: 140%;
}

