/*기본 스타일 초기화 -> 내가 의도하지 않았는데 적용되어 있는 스타일을 제거*/
*{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit,
}
address{
    font-style: inherit;
}

ul,ol{list-style: inherit;}
a{color: inherit;text-decoration: inherits;}

/*공통 스타일-> 공통적으로 적용되는 스타일을 설정*/

html{
    font-size: 20px;
    font-family: 'Pretendard',"Noto Sans KR",sans-serif;
}
/*미리 타이틀 클래스 설정*/
.title{
    font-family: '풀무원';
}
/*양 옆 여백 마진 앞에 영 위아래0 양 옆을 자동으로 똑같이 */
main{width: 1200px;margin:0 auto; /*border: 1px solid red;*/}
/*스타일*/
/* wight(너비)는 오토로 기본설정되기 때문에 작성하지 x */

.banner{
    /*border:1px solid red;*/
    height:250px;
    background:url(../img/sub_vis01_02.jpg) no-repeat center /cover;
    margin-bottom: 50px;
}

main h1{
    margin-bottom: 100px;
    font-size:30px;
    font-width: medium;
    background: url(../img/sub_tit_line.gif) repeat-x 50%;
}
/*지속가능한 식생활과 선 사이에 여백이 20px라는 뜻*/
main h1 span
{ background-color:#fff;
  padding-right: 20px;}

main h2{
    font-size: 52px;
    text-align: center;
    line-height: 140%;
}  

main h2 em{
   font-style: normal;
   color: #7eae4b;
}

.brand{width:810px;
margin:0 auto;
/*border: 1px solid red;*/
box-sizing: border-box;
/*위40 양옆90 아래50*/
padding: 40px 90px 50px;
text-align: center;}

.brand h3{font-size:35px;
margin-bottom: 25px;}

.brand h3+p{margin-bottom: 30px;}
.brand p{
    line-height: 140%;
}